@using Compass.Wasm.Shared.ProjectService
@using Compass.Wasm.Client.Pages.ProjectService.Module
@inject HttpClient Http
<tr>
    <td>
        <AuthorizeView Roles="admin,pm">
            <Authorized>
                <a href="@($"./updatedrawing/{Drawing.Id}")"><i class="bi bi-gear" /></a>
            </Authorized>
        </AuthorizeView>

        <span style="font-weight: bold">@Drawing.ItemNumber</span><br/>
        <span>图纸：</span><br/>
        @if (!string.IsNullOrWhiteSpace(Drawing.DrawingUrl))
        {
            foreach (var fileUrl in Drawing.DrawingUrl.Split('\n'))
            {
                <a href="@fileUrl" target="_blank">@(Path.GetFileName(fileUrl))</a>
                <br/>
            }
        }
    </td>
    <td>
        <a href="@($"./modulelist/{Drawing.Id}")" style="color: red"><i class="bi bi-diagram-3" /></a>
        @if (modules != null && modules.Length != 0)
        {
            foreach (var module in modules)
            {
                <DisplayModule Module="module"/>
            }
        }
    </td>
</tr>

@code {
    [Parameter]
    public DrawingResponse Drawing { get; set; }

    private ModuleResponse[]? modules;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        modules=await Http.GetFromJsonAsync<ModuleResponse[]>($"api/Module/All/{Drawing.Id}");
    }

}
