@page "/drawinglist/{ProjectId}"
@using Compass.Wasm.Client.Pages.ProjectService.Tracking

@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JsRuntime
<PageTitle>Drawing List</PageTitle>
<div class="row position-relative">
    <div class="col">
        <p>
            @if (project != null && tracking!=null)
            {
                <h5>
                    <AuthorizeView Roles="admin,pm">
                        <Authorized>
                            <a href="/updateproject/@project.Id"><i class="bi bi-gear" /></a>
                        </Authorized>
                    </AuthorizeView>
                    <span>@project.OdpNumber</span>
                    <a href="/updatedrawingplan/@project.Id">
                        <span class="ms-2 fs-6">制图计划</span>
                    </a>
                    <a href="/assigndrawings/@project.Id">
                        <span class="ms-2 fs-6">图纸分配</span>
                    </a>
                    <a href="/projectlist/1">
                        <span class="badge ms-2 bg-light text-black ">@project.ProjectType</span>
                    </a>
                    <a href="/projectlist/1">
                        <span class="badge ms-2 @(project.RiskLevel==RiskLevel.高风险 ? "bg-danger" : project.RiskLevel==RiskLevel.中风险 ? "bg-warning text-dark":"bg-light text-dark")">@project.RiskLevel</span>
                    </a>
                    <a href="/1">
                        <span class="badge ms-2 @(tracking.ProjectStatus==ProjectStatus.计划?"bg-info text-dark": tracking.ProjectStatus==ProjectStatus.制图?"bg-primary": tracking.ProjectStatus==ProjectStatus.生产?"bg-warning text-dark": tracking.ProjectStatus==ProjectStatus.入库?"bg-success": tracking.ProjectStatus==ProjectStatus.发货?"bg-secondary":"bg-dark")">@tracking.ProjectStatus</span>
                    </a>
                    <a href="/reportproblem/@ProjectId">
                        @if (tracking.ProblemNotResolved)
                        {
                            <span class="badge bg-danger ms-2 me-2">异常</span><img class="ms-1 me-2" src="andon_red.gif" />
                        }
                        else
                        {
                            <span class="ms-2 fs-6">报告异常</span>
                        }
                    </a>
                    <a href="/reportissue/@ProjectId">
                        <span class="ms-2 fs-6">经验教训</span>
                    </a>
                </h5>

                <div class="row">
                    <div class="col-sm-3" style="width: 95px">项目名称:</div>
                    <div class="col-sm-9">@project.Name</div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="width: 95px">交货日期:</div>
                    <div class="col-sm-9" style="color: red">@project.DeliveryDate.ToString("MM/dd") （合同周期：@(project.DeliveryDate.Subtract(project.ReceiveDate).Days)天）</div>
                </div>

                @*todo:控制权限*@
                @*<AuthorizeView Roles="admin,manager,pm,designer,quality,inspector,pmc">
                    <Authorized>
                        
                    </Authorized>
                </AuthorizeView>*@
                <div class="row">
                    <div class="col-sm-3" style="width: 95px">系统合同:</div>
                    <div class="col-sm-9"><a href="@project.ContractUrl" target="_blank">@(Path.GetFileName(project.ContractUrl))</a></div>
                </div>

                @if (!string.IsNullOrWhiteSpace(project.BomUrl))
                {
                    <div class="row">
                        <div class="col-sm-3" style="width: 95px">物料清单:</div>
                        <div class="col-sm-9"><a href="@project.BomUrl" target="_blank">@(Path.GetFileName(project.BomUrl))</a></div>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(project.AttachmentsUrl))
                {

                    <div class="row">
                        <div class="col-sm-3" style="width: 95px">其他附件:</div>
                        <div class="col-sm-9">
                            @foreach (var fileUrl in project.AttachmentsUrl.Split('\n'))
                            {
                                <a href="@fileUrl" target="_blank">@(Path.GetFileName(fileUrl))</a>

                                <br />
                            }
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(project.SpecialNotes))
                {
                    <div class="row">
                        <div class="col-sm-3" style="width: 95px">特殊要求:</div>
                        <div class="col-sm-9" style="color: red">
                            @foreach (var note in project.SpecialNotes.Split('\n'))
                            {
                                <span>@note</span>

                                <br />
                            }
                        </div>
                    </div>
                }
                @if (tracking.ProblemNotResolved)
                {
                    <div class="row">
                        <div class="col-sm-3" style="width: 95px">异常列表:</div>
                        <div class="col-sm-9" style="color: red">
                            @if (problems != null && problems.Length != 0)
                            {
                                foreach (var problem in problems)
                                {
                                    <ShowProblem Problem="@problem" />
                                }
                            }
                        </div>
                    </div>
                }
            }
        </p>
        @*<p>
        @if (drawings != null)
        {
        <span>图纸(Items)总数:@drawings.Length</span>
        }
        </p>*@
    </div>
    @*todo:控制权限*@
    <AuthorizeView Roles="admin,pm">
        <Authorized>
            <div class="position-absolute bottom-0 end-0" style="text-align: right">
                <span class="btn mb-2" style="color: red" @onclick="ShowAddDrawing">@(isAddDrop ? "▲" : "▼")</span>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@if (isAddDrop)
{
    <AddDrawing Drawing="addDrawingRequest" SaveDrawing="SaveDrawing" />
}

<table class="table table-hover " style="table-layout: fixed;word-break:break-all;">
    <thead>
        <tr>
            <th style="width: 30%">Item编号</th>
            <th>
                <div class="row">
                    <div class="col">
                        分段明细
                    </div>
                    <div class="col">
                        <span @onclick="ModuleRelease" style="@(isModuleRelease?"":"color: red")">@(isModuleRelease ? "发图状态" : "点这★发图")</span>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (drawings == null)
        {
            <p>图纸列表加载中...</p>
        }
        else if (drawings.Length == 0)
        {
            <p>没有要显示的图纸，请点击右上角添加图纸</p>
        }
        else
        {
            @foreach (var drawing in drawings)
            {
                <DisplayDrawing Drawing="drawing" ShowModuleRelease="isModuleRelease" />
            }
        }
    </tbody>
</table>


@code {
    [Parameter]
    public string ProjectId { get; set; }

    private DrawingResponse[]? drawings;
    private AddDrawingRequest addDrawingRequest;


    private bool isAddDrop = false;
    private ProjectResponse? project = new();
    private bool isModuleRelease;

    private TrackingResponse? tracking;
    private ProblemResponse[]? problems;

    protected override async Task OnInitializedAsync()
    {
        drawings = await RefreshData();

        project = await Http.GetFromJsonAsync<ProjectResponse>($"api/Project/{ProjectId}");
        tracking = await Http.GetFromJsonAsync<TrackingResponse>($"api/Tracking/{ProjectId}");
        isModuleRelease = tracking.ModuleReleaseTime != null;
        problems = await Http.GetFromJsonAsync<ProblemResponse[]>($"api/Problem/NotResolved/{ProjectId}");
    }
    Task<DrawingResponse[]?> RefreshData()
    {
        return Http.GetFromJsonAsync<DrawingResponse[]>($"api/Drawing/All/{ProjectId}");
    }
    private void ShowAddDrawing()
    {
        if (!isAddDrop) addDrawingRequest = new AddDrawingRequest();
        addDrawingRequest.ProjectId = Guid.Parse(ProjectId);
        isAddDrop = !isAddDrop;
    }


    private async Task SaveDrawing(AddDrawingRequest request)
    {
        if (string.IsNullOrWhiteSpace(request.ItemNumber))
        {
            await JsRuntime.InvokeVoidAsync("alert", "填写的信息不完整");
            return;
        }
        isAddDrop = false; //收起添加
        var result = await Http.PostAsJsonAsync("api/Drawing/Add", addDrawingRequest);
        if (result.IsSuccessStatusCode) drawings = await RefreshData();
    }


    private async Task ModuleRelease()
    {
        if (!isModuleRelease)
        {
            if (drawings == null || drawings.Length == 0)
            {
                await JsRuntime.InvokeVoidAsync("alert", "该项目下还没有添加图纸！");
                return;
            }
            if (tracking.ProjectStatus!=ProjectStatus.制图)
            {
                await JsRuntime.InvokeVoidAsync("alert", "项目状态不是制图！\n请项目经理添加制图计划。");
                return;
            }
            var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", $"确定要下发【{project.OdpNumber}】的图纸吗？\n这将会在项目跟踪中产生发图记录。");
            if (confirmResult)
            {
                //发布集成时间，记录下发图纸时间并显示下发图纸状态
                await Http.PostAsync($"api/Module/Release/{project.Id}", null);
                isModuleRelease = true;
                StateHasChanged();
            }
        }

    }

}
