@using Compass.Wasm.Shared.ProjectService
@inject HttpClient Http

@if (project != null&&Tracking!=null)
{
    <tr class="@(Tracking.ProblemNotResolved?"table-danger":"")">
        <td style="text-align: center">
            <span class="badge @(Tracking.ProjectStatus==ProjectStatus.计划?"bg-info text-dark": Tracking.ProjectStatus==ProjectStatus.制图?"bg-primary": Tracking.ProjectStatus==ProjectStatus.生产?"bg-warning text-dark": Tracking.ProjectStatus==ProjectStatus.入库?"bg-success": Tracking.ProjectStatus==ProjectStatus.发货?"bg-secondary":"bg-dark")">@Tracking.ProjectStatus</span>
        </td>
        <td>
            <a href="./drawinglist/@project.Id">@project.OdpNumber</a>
        </td>
        <td>@project.Name</td>
        <td style="text-align: center">@project.ReceiveDate.ToString("MM/dd")</td>
        <td style="text-align: center">@(Tracking.DrawingPlanedTime!=null ? Tracking.DrawingPlanedTime.Value.ToString("MM/dd") : "")</td>
        <td style="text-align: center">@(Tracking.ModuleReleaseTime!=null ? Tracking.ModuleReleaseTime.Value.ToString("MM/dd") : "")</td>
        <td style="text-align: center">- - -</td>
        <td style="text-align: center">@(Tracking.WarehousingTime!=null ? Tracking.WarehousingTime.Value.ToString("MM/dd") : "")</td>
        <td style="text-align: center">@(Tracking.ShippingTime!=null ? Tracking.ShippingTime.Value.ToString("MM/dd") : "")</td>
        <td style="text-align: center">@(Tracking.ClosedTime!=null ? Tracking.ClosedTime.Value.ToString("MM/dd") : "")</td>
        <td style="text-align: center">@project.DeliveryDate.ToString("MM/dd")</td>
        <td style="text-align: center">
            <a href="./reportproblem/@project.Id">报告异常</a>
        </td>
        <td style="text-align: center">
            <a href="./reportissue/@project.Id">经验教训</a>
        </td>
    </tr>
    @if (Tracking.ProblemNotResolved)
    {
        <tr class="table-danger">
            <td colspan="13">
                <a href="./reportproblem/@project.Id">
                    <span class="badge bg-danger ms-1 me-1">异常</span>
                </a>
                <img class="ms-1 me-2" src="andon_red.gif" />
                <br />
                @if (problems != null && problems.Length != 0)
                {
                    foreach (var problem in problems)
                    {
                        <ShowProblem Problem="@problem" />
                    }
                }
            </td>
        </tr>
    }
}

@code {
    [Parameter]
    public TrackingResponse Tracking { get; set; }
    private ProjectResponse? project;
    private ProblemResponse[]? problems;

    protected override async Task OnParametersSetAsync()
    {
        project = await Http.GetFromJsonAsync<ProjectResponse>($"api/Project/{Tracking.Id}");
        problems = await Http.GetFromJsonAsync<ProblemResponse[]>($"api/Problem/NotResolved/{Tracking.Id}");
    }

}
