<EditForm Model="Project" OnSubmit="Save">
    <div class="input-group mb-2">
        <span class="input-group-text">项目编号</span>
        <input class="form-control" placeholder="ODP" @bind-value="@Project.OdpNumber" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目名称</span>
        <input class="form-control" placeholder="Name" @bind-value="@Project.Name" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text" style="color: red">交货日期</span>
        <input type="date" class="form-control" style="color: red" @bind-value="@Project.DeliveryDate" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目类型</span>
        <select class="form-select" @bind="@Project.ProjectType">
            @foreach (var type in Enum.GetNames(typeof(ProjectType_e)))
            {
                <option>@type</option>
            }
        </select>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">风险等级</span>
        <select class="form-select" @bind="@Project.RiskLevel">
            @foreach (var level in Enum.GetNames(typeof(RiskLevel_e)))
            {
                <option>@level</option>
            }
        </select>
        @*Todo:风险值=概率*影响，概率影响矩阵*@
        <button class="btn btn-warning" type="button">风险评级</button>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">特殊要求</span>
        <textarea class="form-control" placeholder="Special Notes，可输入多行" style="height: 120px" @bind="@Project.SpecialNotes"></textarea>
    </div>

    <FileUpload Title="系统合同" FileType="application/pdf" @bind-FileUrl="@Project.ContractUrl" />

    <button class="btn btn-success" type="submit">新增项目</button>
</EditForm>

@code {
    [Parameter]
    public ProjectDto? Project { get; set; }
    [Parameter]
    public EventCallback<ProjectDto> SaveProject { get; set; }
    Task Save()
    {
        return SaveProject.InvokeAsync(Project);
    }
}
