@using Compass.Wasm.Shared.ProjectService

@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<tr>
    <td>@Project.OdpNumber</td>
    <td style="@(Project.DeliveryDate<DateTime.Today?"color: green":"font-weight: bold;")">@Project.DeliveryDate.ToShortDateString()</td>
    <td>@Project.Name</td>
    <td>@Project.ProjectType</td>
    @*根据风险值更改颜色*@
    <td class="@(Project.RiskLevel==RiskLevel.高风险 ? "table-danger" : Project.RiskLevel==RiskLevel.中风险 ? "table-warning":"")" >@Project.RiskLevel</td>
    <td>summary</td>
    <td>
        @if (!string.IsNullOrWhiteSpace(Project.ContractUrl))
        {
            <a href="@Project.ContractUrl" target="_blank"><i class="bi bi-file-earmark-pdf"/></a>
        }
        
    </td>
    <td>
        @if (!string.IsNullOrWhiteSpace(Project.BomUrl))
        {
            <a href="@Project.BomUrl" target="_blank"><i class="bi bi-file-earmark-pdf" /></a>
        }
    </td>

    <td><button class="btn"  @onclick="Show" disabled="@(string.IsNullOrWhiteSpace(Project.SpecialNotes))">@(showSpecialNotes ? "▲" : "▼")</button></td>
    <td>
        <button class="btn btn-link" @onclick="Update"><i class="bi bi-gear" /></button>
        <button class="btn btn-link" @onclick="DrawingMgr"><i class="bi bi-diagram-3" /></button>
    </td>
</tr>
@if (showSpecialNotes)
{
    <td colspan="10">
        <textarea class="form-control" readonly="readonly" style="height: @(30*rows)px;color: red" value="@Project.SpecialNotes"></textarea>
    </td>
}

@code {
    [Parameter]
    public ProjectResponse Project { get; set; }

    private bool showSpecialNotes = false;
    private int rows = 1;   
    
    private void Show()
    {
        if (!showSpecialNotes && !string.IsNullOrWhiteSpace(Project.SpecialNotes))
            rows = Project.SpecialNotes.Split('\n').Length;//计算特殊要求有几行
        showSpecialNotes = !showSpecialNotes;
    }

    private void Update()
    {
        NavigationManager.NavigateTo($"./updateproject/{Project.Id}");
    }
    private void DrawingMgr()
    {
        NavigationManager.NavigateTo($"./drawinglist/{Project.Id}");
    }
}
