@using Compass.Wasm.Client.Pages.CategoryService


<EditForm Model="Module" OnSubmit="Save">
    <CategoryChoose @bind-ModelTypeId="ModelTypeId" />
    <hr/>
    <div class="row">
        <div class="col input-group mb-2">
            <span class="input-group-text">分段编号</span>
            <input class="form-control" placeholder="M1,M2...B01,CJ01..." @bind-value="@Module.Name"/>
        </div>
        <div class="col input-group mb-2">
            <span class="input-group-text">①长度</span>
            <input class="form-control" type="number" placeholder="烟罩长度" @bind-value="@Module.Length"/>
        </div>
        <div class="col input-group mb-2">
            <span class="input-group-text">②宽度</span>
            <input class="form-control" type="number" placeholder="烟罩宽度" @bind-value="@Module.Width"/>
        </div>
        <div class="col input-group mb-2">
            <span class="input-group-text">③高度</span>
            <input class="form-control" type="number" placeholder="烟罩高度" @bind-value="@Module.Height"/>
        </div>
        <div class="col"><span class="input-group-text">只填变化尺寸，标准尺寸不填</span></div>
    </div>

    <div class="input-group mb-2">
        <span class="input-group-text">特殊要求</span>
        <textarea class="form-control" placeholder="Special Notes，可输入多行" style="height: 120px" @bind="@Module.SpecialNotes"></textarea>
    </div>

    <button class="btn btn-success" type="submit">新增分段</button>
</EditForm>

@code {
    [Parameter]
    public AddModuleRequest? Module { get; set; }
    [Parameter]
    public EventCallback<AddModuleRequest> SaveModule { get; set; }
    [Parameter]
    public string ModelTypeId { get; set; }
    public Task Save()
    {
        Module.ModelTypeId =Guid.Parse(ModelTypeId);
        return SaveModule.InvokeAsync(Module);
    }
}
