@page "/modulelist/{DrawingId}"
@using Compass.Wasm.Shared.ProjectService
@using Compass.Wasm.Client.ProjectService
@inject HttpClient Http
@inject IJSRuntime JsRuntime

<PageTitle>Module List</PageTitle>
<div class="row position-relative">
    <div class="col">
        <p>
            @if (drawing != null)
            {
                <span class="fs-5" style="font-weight: bold">
                    @if (project != null)
                    {
                        <a href="@($"./drawinglist/{project.Id}")">@project.OdpNumber</a>
                        <br />
                    }
                    @drawing.ItemNumber
                </span>
                <br />

                <span>图纸：</span>

                <br />
                @if (!string.IsNullOrWhiteSpace(drawing.DrawingUrl))
                {
                    foreach (var fileUrl in drawing.DrawingUrl.Split('\n'))
                    {
                        <a href="@fileUrl" target="_blank">@(Path.GetFileName(fileUrl))</a><br />
                    }
                }
            }
        </p>
        @if (modules != null && modules.Length!=0)
        {
            <p>分段数量：@modules.Length</p>
        }
        else
        {
            <p>请添加分段！</p>
        }
    </div>

    @*todo:控制权限*@
    <AuthorizeView Roles="admin,pm,designer">
        <Authorized>
            <div class="position-absolute bottom-0 end-0" style="text-align: right">
                <button class="btn mb-2" style="color: red" @onclick="ShowAddModule">@(isAddDrop ? "▲" : "▼")</button>
            </div>
        </Authorized>
    </AuthorizeView>
</div>
@if (isAddDrop)
{
    <AddModule Module="addModuleRequest" SaveModule="SaveModule" />
}

<table class="table table-hover " style="table-layout: fixed;word-break:break-all;">
    <thead>
        <tr>
            <th style="width: 35%">分段</th>
            <th>详细参数</th>
        </tr>
    </thead>
    <tbody>
        @if (modules == null)
        {
            <p>图纸列表加载中...</p>
        }
        else if (modules.Length == 0)
        {
            <p>没有要显示的图纸，请点击右上角添加图纸</p>
        }
        else
        {
            @foreach (var module in modules)
            {
                <tr>
                    <td><DisplayModule Module="module" /></td>
                    <td>...</td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    [Parameter]
    public string DrawingId { get; set; }

    private ModuleResponse[]? modules;
    private AddModuleRequest addModuleRequest;

    private bool isAddDrop = false;
    private DrawingResponse? drawing;
    private ProjectResponse? project;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        modules = await RefreshData();
        drawing = await Http.GetFromJsonAsync<DrawingResponse>($"api/Drawing/{DrawingId}");
        project = await Http.GetFromJsonAsync<ProjectResponse>($"api/Project/{drawing.ProjectId}");
    }
    Task<ModuleResponse[]?> RefreshData()
    {
        return Http.GetFromJsonAsync<ModuleResponse[]>($"api/Module/All/{DrawingId}");
    }
    private void ShowAddModule()
    {
        if (!isAddDrop) addModuleRequest = new AddModuleRequest();
        addModuleRequest.DrawingId = Guid.Parse(DrawingId);
        isAddDrop = !isAddDrop;
    }

    private async Task SaveModule(AddModuleRequest request)
    {
        if (string.IsNullOrWhiteSpace(request.Name)&&request.ModelId.Equals(Guid.Empty))
        {
            await JsRuntime.InvokeVoidAsync("alert", "填写的信息不完整");
            return;
        }
        //isAddDrop = false; //收起添加
        var result = await Http.PostAsJsonAsync("api/Module/Add", addModuleRequest);
        if (result.IsSuccessStatusCode) modules = await RefreshData();
    }


}
