@page "/project/update/{Id}"

@inject IProjectService ProjectService
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>更新项目</PageTitle>

<div class="row">
    <div class="col">
        <p class="fs-5">更新项目信息</p>
    </div>
    <CompDeleteIcon Roles="admin" Click="Delete" />
</div>

<EditForm Model="_projectDto" OnSubmit="Save">
    <!--由项目经理修改的数据-->
    <div class="input-group mb-2">
        <span class="input-group-text">主绘图人</span>
        <select class="form-select" @bind="@_projectDto.Designer">
            @foreach (var user in _userDtos)
            {
                @if (_projectDto != null && user.Id == _projectDto.Designer)
                {
                    <option selected="selected" value="@user.Id">@user.UserName</option>
                }
                else
                {
                    <option value="@user.Id">@user.UserName</option>
                }
            }
        </select>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目编号</span>
        <input class="form-control" placeholder="ODP" @bind-value="@_projectDto.OdpNumber" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目名称</span>
        <input class="form-control" placeholder="Name" @bind-value="@_projectDto.Name" />
    </div>
    <div class="input-group mb-2" style="width: 230px">
        <span class="input-group-text">交货日期</span>
        <input type="date" class="form-control" @bind-value="@_projectDto.DeliveryDate" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目类型</span>
        <select class="form-select" @bind="@_projectDto.ProjectType">
            <CompEnumList Type="typeof(ProjectType_e)" />
        </select>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">风险等级</span>
        <select class="form-select" @bind="@_projectDto.RiskLevel">
            <CompEnumList Type="typeof(RiskLevel_e)" />
        </select>
        @*Todo:风险值=概率*影响，概率影响矩阵*@
        <button class="btn btn-warning" type="button">风险评级</button>
    </div>

    <div class="input-group mb-2">
        <span class="input-group-text">特殊要求</span>
        <textarea class="form-control" placeholder="Special Notes，可输入多行" style="height: 350px" @bind="@_projectDto.SpecialNotes"></textarea>
    </div>

    <CompSaveCancelButtons CancelUrl="projects" />
</EditForm>


@code {
    [Parameter]
    public string Id { get; set; }
    private ProjectDto _projectDto = new();
    private List<UserDto> _userDtos = new();
    protected override async Task OnInitializedAsync()
    {
        var pResponse = await ProjectService.GetFirstOrDefault(Guid.Parse(Id));
        if (!pResponse.Status) NavigationManager.NavigateTo("projects");
        _projectDto = pResponse.Result;
        var uResponse = await UserService.GetUsersInRolesAsync("pm,designer");
        if(uResponse.Status) _userDtos = uResponse.Result;
    }

    private async Task Delete()
    {
        //todo:检查项目下有没有图纸
        //if (await Http.GetFromJsonAsync<bool>($"api/Drawing/Exists/{project.Id}"))
        //{
        //    await JsRuntime.InvokeVoidAsync("alert", "该项目下包含图纸，不能删除！\n请先删除图纸。");
        //    return;
        //}

        var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", $"确定要删除项目【{_projectDto.OdpNumber}】吗？");
        if (confirmResult)
        {
            var result = await ProjectService.DeleteAsync(Guid.Parse(Id));
            if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("projects");
        }
    }
    private async Task Save()
    {
        var result = await ProjectService.UpdateAsync(Guid.Parse(Id), _projectDto);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("projects");
    }
}
