@page "/project/add"
@using Compass.Wasm.Client.Services.Projects
@using Compass.Wasm.Shared.Projects
@using Microsoft.AspNetCore.Components

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IProjectService ProjectService

<PageTitle>新增项目</PageTitle>

<EditForm Model="_project" OnSubmit="Save">
    <div class="input-group mb-2 mt-2">
        <span class="input-group-text">项目编号</span>
        <input class="form-control" placeholder="ODP" @bind-value="@_project.OdpNumber" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目名称</span>
        <input class="form-control" placeholder="Name" @bind-value="@_project.Name" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text" style="color: red">交货日期</span>
        <input type="date" class="form-control" style="color: red" @bind-value="@_project.DeliveryDate" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目类型</span>
        <select class="form-select" @bind="@_project.ProjectType">
            @foreach (var type in Enum.GetNames(typeof(ProjectType_e)))
            {
                <option>@type</option>
            }
        </select>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">风险等级</span>
        <select class="form-select" @bind="@_project.RiskLevel">
            @foreach (var level in Enum.GetNames(typeof(RiskLevel_e)))
            {
                <option>@level</option>
            }
        </select>
        @*Todo:风险值=概率*影响，概率影响矩阵*@
        <button class="btn btn-warning" type="button">风险评级</button>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">特殊要求</span>
        <textarea class="form-control" placeholder="Special Notes，可输入多行" style="height: 120px" @bind="@_project.SpecialNotes"></textarea>
    </div>
    <button class="btn btn-success" type="submit">保存</button>
    <button class="btn btn-secondary" type="button" @onclick="@(() => NavigationManager.NavigateTo("projects"))">取消</button>
</EditForm>

@code {
    //初始化发货日期为今天后的2周
    private ProjectDto _project = new (){DeliveryDate = DateTime.Now.AddDays(14)};
    //todo:绑定MainPlan

    private async Task Save()
    {
        if (string.IsNullOrWhiteSpace(_project.Name) || string.IsNullOrWhiteSpace(_project.OdpNumber))
        {
            await JsRuntime.InvokeVoidAsync("alert", "填写的信息不完整");
            return;
        }
        var result = await ProjectService.AddAsync(_project);
        //跳转回主页
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("projects");
    }
}
