@page "/updateproductionplan/{Id}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<PageTitle>Update Production Plan</PageTitle>
<div class="row">
    <div class="col">
        <p>
            <span class="fs-5">更新生产计划</span>
        </p>
    </div>
    @*todo:控制权限*@
    <AuthorizeView Roles="admin">
        <Authorized>
            <div class="col" style="text-align: right">
                <button class="btn mb-2" type="button" @onclick="Delete"><i class="bi bi-trash3 text-danger" /></button>
            </div>
        </Authorized>
    </AuthorizeView>

</div>
<EditForm Model="prodPlan" OnSubmit="Save">
    <div class="row">
        <div class="col input-group mb-2">
            <span class="input-group-text">创建时间</span>
            <input type="date" class="form-control" @bind-value="@prodPlan.OdpReleaseTime" />
        </div>
        <div class="col input-group mb-2">
            <span class="input-group-text">完工时间</span>
            <input type="date" class="form-control" @bind-value="@prodPlan.ProductionFinishTime" />
        </div>
        <div class="col input-group mb-2">
            <span class="input-group-text">计划发图</span>
            <input type="date" class="form-control" @bind-value="@prodPlan.DrawingReleaseTarget" />
        </div>
        <div class="col input-group mb-2">
            <span class="input-group-text">项目月份</span>
            <input type="month" class="form-control" @bind-value="@prodPlan.MonthOfInvoice" />
        </div>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">SQFS号</span>
        <input class="form-control" placeholder="SQFS号" @bind-value="@prodPlan.SqNumber" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目名称</span>
        <input class="form-control" placeholder="项目名称" @bind-value="@prodPlan.Name" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">烟罩数量</span>
        <input class="form-control" type="number" @bind-value="@prodPlan.Quantity" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">烟罩型号</span>
        <input class="form-control" placeholder="型号" @bind-value="@prodPlan.ModelSummary" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目类型</span>
        <select class="form-select" @bind="@prodPlan.ProductionPlanType">
            @foreach (var type in Enum.GetNames(typeof(ProductionPlanType)))
            {
                <option>@type</option>
            }
        </select>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目备注</span>
        <textarea class="form-control" placeholder="备注，可输入多行" style="height: 120px" @bind="@prodPlan.Remarks"></textarea>
    </div>

    <button class="btn btn-success" type="submit">保存</button>
    <button class="btn btn-secondary" type="button" @onclick="@(() => NavigationManager.NavigateTo("productionplanlist"))">取消</button>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    private ProductionPlanResponse? prodPlan = new();
    protected override async Task OnInitializedAsync()
    {
        prodPlan = await Http.GetFromJsonAsync<ProductionPlanResponse>($"api/ProductionPlan/{Id}");
    }
    private async Task Delete()
    {
        var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", $"确定要删除生产计划【{prodPlan.Name}】吗？");
        if (confirmResult)
        {
            var result = await Http.DeleteAsync($"api/ProductionPlan/{Id}");
            if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("productionplanlist");
        }
    }

    private async Task Save()
    {
        var result = await Http.PutAsJsonAsync($"api/ProductionPlan/{Id}", prodPlan);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("productionplanlist");
    }
}
