@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<tr>
    <td>
        <AuthorizeView Roles="admin,pm">
            <Authorized>
                <a href="drawing/update/@Drawing.Id"><i class="bi bi-gear" /></a>
            </Authorized>
        </AuthorizeView>
        @Drawing.ItemNumber
    </td>
    <td>
        @if (!string.IsNullOrWhiteSpace(Drawing.DrawingUrl))
        {
            <a href="@Drawing.DrawingUrl" target="_blank"><i class="bi bi-file-earmark-pdf" /></a>
        }
    </td>
    <td>
        <span @onclick="Show" hidden="@(string.IsNullOrWhiteSpace(Drawing.ImageUrl))">@(showImage ? "▲" : "▼")</span>
    </td>
</tr>
@if (showImage)
{
    <tr>
        <td colspan="3">
            <img src="@Drawing.ImageUrl" asp-append-version="true" height="300px" />
        </td>
    </tr>
}
@code {
    [Parameter]
    public DrawingDto Drawing { get; set; }
    private bool showImage = false;
    private void Show()
    {
        showImage = !showImage;
    }
}
