@page "/project/update/{Id}"
@using Compass.Wasm.Client.Services

@inject IProjectService ProjectService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>更新项目</PageTitle>

<div class="row">
    <div class="col">
        <p>
            <span class="fs-5">更新项目信息</span>
        </p>
    </div>
    @*todo:控制权限*@
    <AuthorizeView Roles="admin">
        <Authorized>
            <div class="col" style="text-align: right">
                <button class="btn mb-2" type="button" @onclick="Delete"><i class="bi bi-trash3 text-danger" /></button>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

<EditForm Model="project" OnSubmit="Save">
    <!--由项目经理修改的数据-->
    <AuthorizeView Roles="admin,pm">
        <Authorized Context="auth">
            <div class="input-group mb-2">
                <span class="input-group-text">项目编号</span>
                <input class="form-control" placeholder="ODP" @bind-value="@project.OdpNumber" />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">项目名称</span>
                <input class="form-control" placeholder="Name" @bind-value="@project.Name" />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" style="color: red">交货日期</span>
                <input type="date" class="form-control" style="color: red" @bind-value="@project.DeliveryDate" />
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">项目类型</span>
                <select class="form-select" @bind="@project.ProjectType">
                    @foreach (var type in Enum.GetNames(typeof(ProjectType_e)))
                    {
                        <option>@type</option>
                    }
                </select>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">风险等级</span>
                <select class="form-select" @bind="@project.RiskLevel">
                    @foreach (var level in Enum.GetNames(typeof(RiskLevel_e)))
                    {
                        <option>@level</option>
                    }
                </select>
                @*Todo:风险值=概率*影响，概率影响矩阵*@
                <button class="btn btn-warning" type="button">风险评级</button>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">特殊要求</span>
                <textarea class="form-control" placeholder="Special Notes，可输入多行" style="height: 120px" @bind="@project.SpecialNotes"></textarea>
            </div>

            <FileUpload Title="系统合同" FileType="application/pdf" @bind-FileUrl="@project.ContractUrl" />
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="admin,pm,designer">
        <Authorized Context="auth">
            <FileUpload Title="物料清单" FileType="application/pdf" @bind-FileUrl="@project.BomUrl" />
            <MultiFileUpload Title="其他附件" @bind-MultiFileUrl="@project.AttachmentsUrl"></MultiFileUpload>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="admin,inspector">
        <Authorized Context="auth">
            <MultiFileUpload Title="最终检验" @bind-MultiFileUrl="@project.FinalInspectionUrl"></MultiFileUpload>
        </Authorized>
    </AuthorizeView>

    <button class="btn btn-success" type="submit">保存</button>
    <button class="btn btn-secondary" type="button" @onclick="@(() => NavigationManager.NavigateTo("/projects"))">取消</button>
</EditForm>


@code {
    [Parameter]
    public string Id { get; set; }
    private ProjectDto? project = new();
    protected override async Task OnInitializedAsync()
    {
        var response = await ProjectService.GetFirstOrDefault(Guid.Parse(Id));
        if (!response.Status) NavigationManager.NavigateTo("projects");
        project = response.Result;
    }

    private async Task Delete()
    {
        //todo:检查项目下有没有图纸
        //if (await Http.GetFromJsonAsync<bool>($"api/Drawing/Exists/{project.Id}"))
        //{
        //    await JsRuntime.InvokeVoidAsync("alert", "该项目下包含图纸，不能删除！\n请先删除图纸。");
        //    return;
        //}

        var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", $"确定要删除项目【{project.OdpNumber}】吗？");
        if (confirmResult)
        {
            var result = await ProjectService.DeleteAsync(Guid.Parse(Id));
            if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("projects");
        }
    }
    private async Task Save()
    {
        var result = await ProjectService.UpdateAsync(Guid.Parse(Id), project);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("projects");
    }
}
