@page "/adddrawingplan"
@using Compass.Wasm.Client.ProjectService
@using Compass.Wasm.Shared.ProjectService
@using Microsoft.AspNetCore.Components

@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<PageTitle>Add Drawing Plan</PageTitle>

<EditForm Model="drawingPlan" OnSubmit="Save">
    <div class="input-group mb-2">
        <span class="input-group-text">选择项目</span>
        @if (projectsNotPlanned != null && projectsNotPlanned.Length!=0)
        {
            <select class="form-select" @bind="@drawingPlan.ProjectId">
                @foreach (var project in projectsNotPlanned)
                {
                    <option value="@project.Id">
                        @project.OdpNumber【@project.DeliveryDate.ToString("MM/dd")】@project.Name
                    </option>
                }
            </select>
        }
    </div>

    <div class="input-group mb-2">
        <span class="input-group-text">计划发图</span>
        <input type="date" class="form-control" @bind-value="@drawingPlan.ReleaseTime" />
    </div>
    <button class="btn btn-success" type="submit">新增制图计划</button>
    <button class="btn btn-secondary" type="button" @onclick="@(() => NavigationManager.NavigateTo("./drawingplan"))">取消</button>
</EditForm>


@code {
    private AddDrawingPlanRequest? drawingPlan = new();

    private ProjectResponse[]? projectsNotPlanned;

    protected override async Task OnInitializedAsync()
    {
        drawingPlan.ReleaseTime=DateTime.Today;
        projectsNotPlanned = await Http.GetFromJsonAsync<ProjectResponse[]>("api/DrawingPlan/ProjectsNotPlanned");
    }
    public async Task Save()
    {
        if (drawingPlan.ProjectId.Equals(Guid.Empty))
        {
            await JsRuntime.InvokeVoidAsync("alert", "请选择项目");
            return;
        }
        var result = await Http.PostAsJsonAsync("api/DrawingPlan/Add", drawingPlan);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("./drawingplan");
    }
}
