@if (!string.IsNullOrWhiteSpace(FileUrl))
{
    <div class="col-sm-9">
        <a href="@FileUrl" target="_blank">
            <span class="oi oi-paperclip me-2">：@(Path.GetFileName(FileUrl))</span>
        </a>
        <AuthorizeView Roles="@Roles">
            <Authorized>
                <a href="@UpLoadUrl">
                    <span class="oi oi-loop-circular">：更新</span>
                </a>
            </Authorized>
        </AuthorizeView>
    </div>
}
else
{
    <AuthorizeView Roles="@Roles">
        <Authorized>
            <div class="col-sm-9">
                <a href="@UpLoadUrl">
                    <span class="oi oi-cloud-upload">：上传</span>
                </a>
            </div>
        </Authorized>
    </AuthorizeView>
}
@code {
    [Parameter]
    public string Roles { get; set; }
    [Parameter]
    public string FileUrl { get; set; }
    [Parameter]
    public string UpLoadUrl { get; set; }
}
