@page "/issue/update/{Id}"
@inject IIssueService IssueService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IMainPlanService MainPlanService

<PageTitle>更新项目异常描述</PageTitle>
<div class="row">
    <div class="col">
        <h3>@_mainPlanDto.Number-@_mainPlanDto.Name</h3>
    </div>
    <CompDeleteIcon Roles="admin,pm" Click="Delete" />
</div>
<EditForm Model="_issueDto" OnSubmit="Save">
    <div class="input-group mb-2">
        <span class="input-group-text">异常类型</span>
        <select class="form-select" @bind="@_issueDto.Title">
            <CompEnumList Type="typeof(IssueTitle_e)" />
        </select>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">内容</span>
        <textarea class="form-control" placeholder="请详细描述异常，可输入多行" style="height: 350px" @bind="@_issueDto.Content"></textarea>
    </div>
    <CompMultiImgs ContentUrl="@_issueDto.ContentUrl" />
    <MultiFileUpload Title="附件(可添加多个)" FileType="image/*" @bind-MultiFileUrl="@_issueDto.ContentUrl" />

    <CompSaveCancelButtons CancelUrl="@($"issues/mainplan/{_issueDto.MainPlanId}")"/>
</EditForm>
@code {
    [Parameter]
    public string Id { get; set; }
    private IssueDto _issueDto = new();
    private MainPlanDto _mainPlanDto = new();

    protected override async Task OnInitializedAsync()
    {
        var result = await IssueService.GetFirstOrDefault(Guid.Parse(Id));
        _issueDto = result.Result;
        
        var mResult = await MainPlanService.GetFirstOrDefault(_issueDto.MainPlanId);
        _mainPlanDto = mResult.Result;
    }
    private async Task Delete()
    {
        var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", "确定要删除当前异常吗？");
        if (confirmResult)
        {
            var result = await IssueService.DeleteAsync(Guid.Parse(Id));
            if (result.IsSuccessStatusCode) NavigationManager.NavigateTo($"issues/mainplan/{_issueDto.MainPlanId}");
        }
    }
    private async Task Save()
    {
        var result = await IssueService.UpdateAsync(Guid.Parse(Id), _issueDto);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo($"issues/mainplan/{_issueDto.MainPlanId}");
    }
}
