@page "/mainplan/update/{Id}"
@using Compass.Wasm.Shared.Plans
@using Compass.Wasm.Client.Services.Plans
@inject IMainPlanService MainPlanService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>更新主计划</PageTitle>

<div class="row">
    <div class="col">
        <p class="fs-5">更新主计划信息</p>
    </div>
    <CompDeleteIcon Roles="admin,pmc" Click="Delete" />
</div>
<EditForm Model="_mainPlanDto" OnSubmit="Save">
    <div class="row">
        <div class="col input-group mb-2">
            <span class="input-group-text">创建时间</span>
            <input type="date" class="form-control" @bind-value="@_mainPlanDto.CreateTime" />
        </div>
        <div class="col input-group mb-2">
            <span class="input-group-text">项目月份</span>
            <input type="month" class="form-control" @bind-value="@_mainPlanDto.MonthOfInvoice" />
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col input-group mb-2">
            <span class="input-group-text">完工时间</span>
            <input type="date" class="form-control" @bind-value="@_mainPlanDto.FinishTime" />
        </div>
        <div class="col input-group mb-2">
            <span class="input-group-text">计划发图</span>
            <input type="date" class="form-control" @bind-value="@_mainPlanDto.DrwReleaseTarget" />
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col input-group mb-2">
            <span class="input-group-text">编号</span>
            <input class="form-control" placeholder="编号" @bind-value="@_mainPlanDto.Number" />
        </div>
        <div class="col input-group mb-2">
            <span class="input-group-text">分批</span>
            <select class="form-select" @bind="@_mainPlanDto.Batch">
                @foreach (var batch in Enum.GetNames(typeof(DeliveryBatch_e)))
                {
                    <option>@batch</option>
                }
            </select>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目名称</span>
        <input class="form-control" placeholder="项目名称" @bind-value="@_mainPlanDto.Name" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">烟罩数量</span>
        <input class="form-control" type="number" @bind-value="@_mainPlanDto.Quantity" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">烟罩型号</span>
        <input class="form-control" placeholder="型号" @bind-value="@_mainPlanDto.ModelSummary" />
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目类型</span>
        <select class="form-select" @bind="@_mainPlanDto.MainPlanType">
            <CompEnumList Type="typeof(MainPlanType_e)"></CompEnumList>
        </select>
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text">项目备注</span>
        <textarea class="form-control" placeholder="备注，可输入多行" style="height: 120px" @bind="@_mainPlanDto.Remarks"></textarea>
    </div>
    
    <CompSaveCancelButtons CancelUrl="mainplans" />
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    private MainPlanDto? _mainPlanDto = new();
    protected override async Task OnInitializedAsync()
    {
        var response = await MainPlanService.GetFirstOrDefault(Guid.Parse(Id));
        if (!response.Status) NavigationManager.NavigateTo("mainplans");
        _mainPlanDto = response.Result;
    }
    private async Task Delete()
    {
        var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", $"确定要删除生产计划【{_mainPlanDto.Name}】吗？");
        if (confirmResult)
        {
            var result = await MainPlanService.DeleteAsync(Guid.Parse(Id));
            if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("mainplans");
        }
    }

    private async Task Save()
    {
        var result = await MainPlanService.UpdateAsync(Guid.Parse(Id), _mainPlanDto);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("mainplans");
    }
}
