@page "/"
@page "/{Page:int}"
@page "/search/{SearchText}/{Page:int}"
@using System.Timers
@using Compass.Wasm.Client.ProjectServices

@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject ITrackingService TrackingService
@implements IDisposable

<PageTitle>Project Tracking</PageTitle>

<table class="table table-hover" style="table-layout: fixed;word-break:break-all;">
    <thead>
        <tr>
            <th style="width: 60px; text-align: center;color:dodgerblue">状态</th>
            <th style="width: 10%;color: dodgerblue">项目编号</th>
            <th style="width: 30%;color: dodgerblue">项目名称</th>
            <th style="text-align: center;color: purple">创建时间</th>
            <th style="text-align: center;color: purple">计划发图</th>
            <th style="text-align: center;color: purple">实际发图</th>
            <th style="text-align: center;color: purple">计划完工</th>
            <th style="text-align: center;color:blue">生产状态</th>
            <th style="text-align: center;color: darkgreen">入库时间</th>
            <th style="text-align: center;color: darkgreen">发货开始</th>
            <th style="text-align: center;color: darkgreen">发货结束</th>
            <th style="text-align: center;color: red">报告异常</th>
            <th style="text-align: center;color: red">经验教训</th>
        </tr>
    </thead>
    <tbody>
        @if (TrackingService.Trackings == null||TrackingService.Trackings.Count==0)
        {
            <p>加载中...</p>
        }
        else
        {
            @foreach (var tracking in TrackingService.Trackings)
            {
                @*<DisplayTracking Id="tracking.Id" />*@
                <tr class="@(tracking.ProblemNotResolved?"table-danger":"")">
                    <td style="text-align: center">
                        <span class="badge @(tracking.ProjectStatus==ProjectStatus.计划?"bg-info text-dark": tracking.ProjectStatus==ProjectStatus.制图?"bg-primary": tracking.ProjectStatus==ProjectStatus.生产?"bg-warning text-dark": tracking.ProjectStatus==ProjectStatus.入库?"bg-success": tracking.ProjectStatus==ProjectStatus.发货?"bg-secondary":"bg-dark")">@tracking.ProjectStatus</span>
                    </td>
                
                <td>
                <a href="./drawinglist/@tracking.Id">@tracking.OdpNumber</a>
                </td>
            <td>@tracking.ProjectName</td>
                @if (tracking.ProductionPlanOk)
                {
                    <td style="text-align: center">@tracking.OdpReleaseTime.ToString("MM/dd")</td>
                    <td style="text-align: center">@tracking.DrawingReleaseTarget.ToString("MM/dd")</td>
                <td style="text-align: center">@(tracking.DrawingReleaseActual!=null ? tracking.DrawingReleaseActual.Value.ToString("MM/dd") : "")</td>
                    <td style="text-align: center">@tracking.ProductionFinishTime.ToString("MM/dd")</td>
                }
                else
                {
                    <td>
                    <a href="bindproductionplan/@tracking.Id">绑定计划</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                }


                </tr>
            }
        }
    </tbody>
</table>
@*@if (string.IsNullOrWhiteSpace(SearchText))
{
    @for (int i = 1; i <= TrackingService.PageCount; i++)
    {
        <a class="btn @(i==TrackingService.CurrentPage?"btn-info":"btn-outline-info")"
           style="margin-right: 15px;margin-bottom: 30px;"
   href="search/@TrackingService.LastSearchText/@i">@i</a>
    }
}
else
{
    @for (int i = 1; i <= TrackingService.PageCount; i++)
    {
        <a class="btn @(i==TrackingService.CurrentPage?"btn-info":"btn-outline-info")"
           style="margin-right: 15px;margin-bottom: 30px;"
           href="/@i">@i</a>
    }  
}*@



@code {

    [Parameter]
    public string SearchText { get; set; } = string.Empty;
    [Parameter]
    public int Page { get; set; } = 1;

    //public int PageCount { get; set; } = 0;
    //public string LastSearchText { get; set; } = string.Empty;
    //private List<TrackingResponse> _trackings = new();


    private int _pageFlag = 1;
    private Timer _timer;
    protected override void OnInitialized()
    {
        _timer = new Timer();
        _timer.Interval = 30000;
        _timer.Elapsed += OnTimeElapsed;//每隔30s钟就会执行一次这个方法
        _timer.Enabled = true;
    }

    protected override async Task OnParametersSetAsync()
    {
        await RefreshData();
    }

    async Task RefreshData()
    {
        if (Page == 0) Page = 1;
        await TrackingService.GetTrackingsAsync(Page);

        //if (string.IsNullOrWhiteSpace(SearchText))
        //{
        //    await TrackingService.SearchTrackings(SearchText, Page);
        //}
        //else
        //{
        //    await TrackingService.GetTrackingsAsync(Page);
        //}
    }

    private void OnTimeElapsed(object? sender, ElapsedEventArgs e)
    {
    //方式二，直接跳转
        //if (TrackingService.PageCount > 1)
        //{
        //    _pageFlag++;
        //    if (_pageFlag > TrackingService.PageCount) _pageFlag = 1;
        //}
        //NavigationManager.NavigateTo(string.IsNullOrWhiteSpace(SearchText) ? $"{_pageFlag}" : $"search/{TrackingService.LastSearchText}/{_pageFlag}");

        //StateHasChanged();
    }
    public void Dispose()
    {
        _timer.Dispose();
    }
}